<h1>Boats</h1>


<%= link_to "We Bought A Boat", new_boat_path %>
 
<h2>Last Boats</h2>
<% @boats.last(5).each do |boat| %>
	<div class="boats">
		<div class="boat_name">
			<p><a><%= boat.name %></a></p>
			</div>
		<div class="boat_location">
			<p>Location: <a><%= boat.location %></a></p>
			</div>
		<div class="boat_max">
			<p>Max: <%= boat.container_max %> Containers</p>
			</div>
	</div>

<% end %>

<div class="empty">
</div>

<% if current_user %>
<h2>Your Boats</h2>
<% current_user.boats.each do |boat| %>
	<div class="boats">
		<div class="boat_name">
		<%= link_to("/boats/#{boat.id}", {method: :get}) do %>
			<p><%= boat.name %></p>
		<% end %>
			</div>
		<div class="boat_location">
			<p>Location: <a href="https://en.wikipedia.org/wiki/<%= boat.location.gsub(' ','_') %>"> <%= boat.location %></a></p>
			</div>
		<div class="boat_max">
			<p>Max: <%= boat.container_max %> Containers</p>
			</div>
	</div>

	<% end %>
<% end %>




