<% if current_user %>

<div class="new_boat">
<%= form_for Boat.new do |f| %>

		<h1>Create A New Boat</h1>
		<p><%= flash[:boaterror] if flash[:boaterror] %></p>
		<%= f.label :name, value: 'Boat Name' %>
		<%= f.text_field :name %> 

		<%= f.label :location, value: "Starting Location" %>
		<%= f.select(:location, options_for_select(locations)) %>


		<%= f.label :container_max %>
		<%= f.number_field :container_max, min: 5, max: 18000 %> 

		<%= f.hidden_field :user_id, value: current_user.id %>


		<%= f.submit class: 'submit_button' %>

	<% end %>
<% end %>
</div>


