<h1>Create A New Boat</h1>

<div claas="new_boat">
<%= form_for Boat.new do |f| %>

	<%= f.label :name, %>
	<%= f.text_field :name, placeholder: %> 

	<%= f.label :location, value: "Starting Location:" %>
	<%= f.select(:location, options_for_select(locations)) %>

	<%= f.label :container_max %>
	<%= f.number_field :container_max, min: 5, max: 18000 %> 

	<%= f.hidden_field :user_id, value: current_user.id %>

	<%= f.submit %>

<% end %>
</div>