<h1>Create A New Boat</h1>

<%= form_for Boat.new do |f| %>

	<%= f.label :name %>
	<%= f.text_area :name %> 

	<%= f.label :location, value: "Starting Location:" %>
	<%= f.select(:location, options_for_select(locations)) %>

	<%= f.label :container_max %>
	<%= f.number_field :container_max, min: 5 %> 

	<%= hidden_field_tag :user_id, current_user.id %>

<% end %>
